@tailwind base;
@tailwind components;

.body {
  padding: 0;
  margin: 0;
  @apply bg-bg;
}

input {
  outline: none;
}

.main-container {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif, Arial !important;
  min-width: 380px;
  min-height: 390px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.result-text {
  font-size: 72px;
  background: -webkit-linear-gradient(left, #fdfbfb, #ebedee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type='number'] {
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@tailwind utilities;
