input {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif, Arial !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.result-text {
  font-size: 72px;
  background: -webkit-linear-gradient(left, #0d3883, #009cda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
